<!DOCTYPE html>
<html>
<head>
  <title>Yükle Gelsin</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
  <style>
    body {
      font-family: 'Nunito';
    }
    .btn {
        background: #FF9A5A;
          border: 0;
          border-radius: 12px;
          color: #FFFFFF;
          cursor: pointer;
          display: inline-block;
          line-height: 2.5;
          outline: transparent;
          padding: 0 1rem;
          text-align: center;
          text-decoration: none;
          transition: box-shadow .2s ease-in-out;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          white-space: nowrap;
    }
  </style>
</head>
<body>
<div style="width: 500px; margin: 0 auto">
  <div>
    <div style="text-align: left; padding: 40px 40px" >
      <img style=" cursor: pointer; max-width: 375px"
           src="https://yukle-gelsin.s3.eu-central-1.amazonaws.com/logo.png"/>
    </div>
    <div>
      <div style="background: #fff; padding: 40px">
        <b style="font-size: 20px; color: #121A26">Yükle Gelsin Kayıt Onayı</b>
        <div style="color: #384860; font-size: 16px">
          <p style="margin-top: 30px; margin-bottom: 30px">Merhaba {{name}},</p>
          <p style="margin-top: 30px; margin-bottom: 0px">Yükle Gelsin hesabınızı onaylamak için butona tıklayınız.</p>
          <p style="margin-top: 30px; margin-bottom: 30px"><a class="btn" href="{{url}}" target="_blank"> Hesabı Onayla </a></p>
          </p>
          <p style="margin-top: 30px; margin-bottom: 0px">İyi günler dileriz.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>